body{
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
    background-color: #142038;
    display: flex;
    align-items: center;

}

header > ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header img {
    height: 20px;
    margin: 15px 0;
}

header li, a {
    color: white;
    font-weight: bold;
    font-size: 9pt;
    margin: 0 10px;
    list-style: none;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}

header li:last-child{
    background-color: #FFCD0D;
    
}

/* nav */
nav {
    background-color: #061D62;
    height: 55px;
    display: flex;
    align-items: center;
}

nav img{
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    color: white;
    font-weight: bold;
    font-size: 9pt;
    margin: 0 10px;
    list-style: none;
    text-decoration: none;
    font-style: italic; 
}

main{
    background-image: url(image/persona3/white_stripe.svg);
    background-repeat: no-repeat;
    background-color: #3b00c4;
    background-size: 100%;
}

.h1-back {
    background-image: url(image/persona3/triangle.png);
    background-size: contain; /* 이미지가 컨테이너를 덮도록 설정 */
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    background-position: center;
    padding: 60px; /* 배경 이미지가 더 크게 보이도록 설정 */
}

.back-left{
    background-image: url(image/persona3/triangle_left.png);

}
.h1-back h1 {
    margin: 0; 
    color: #05FDFD;
    font-size: 32pt;
    text-shadow: 2px 1px #262626;
    font-family: 'Inria Serif';
    display: inline-block;

}

.hero_loop video {

    width: 100%;
    vertical-align: middle;
}

.logo{
    --rem: 16;
    font-size: 18px;
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: #fff;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    position: absolute;
    right: 11%;
    top: 0;
    bottom: 0;
    display: grid;
    width: 40%;
    justify-items: center;
}


/* 트레일러 */
.trailer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trailer{
    width: 200px;
}

.trailer iframe {
    border: 2px solid #05FDFD;
    box-shadow: 5px 5px #05FDFD;
}



#screenshots{
    width: 250px;
}

.screenshots-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.gallery{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 20px;
    align-items: center;
}

.gallery img {
    width: 700px;
}

.arrow {
    cursor: pointer;
    z-index: 10;
    width: 60px;
    height: 90px;
    position: absolute;
    top: 40%;
}
.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}

.story-wrapper{
    display: flex;
    justify-content: center;
}


/* key features */

.key-features-wrapper{
    display: flex;
    justify-content: center;
}

.features-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.features{
    border: 2px solid #05FDFD;
    background-color: #0D0E56;
    color: white;
    padding: 5px 10px;
    width: 100%;
}

.features-img{
    margin: 10px;
    height: 500px;
}



/* 캐릭터 소개 */
.characters{
    height: 1000px;
}


/* .h1-back{
    background-image: url(image/persona3/triangle.png);
    background-size: contain; 
    background-repeat: no-repeat; 
    display: inline-block;
    position: relative;

}

h1{
    margin: 10px;

    color: #05FDFD;
    font-size: 32pt;
    text-shadow: 2px 1px #262626;
    font-family: 'inria Serif';

    display: inline-block;
} */



















.buy-now{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buy-now > img{
    width: 80%;
    margin: auto;
}



footer{
    background-color: #262626;
}

.footer-share{
    display: flex;
    justify-content: center;

}

.connect-with{
    height: 60px;
    right: 70%;
    display: flex;
justify-content: flex-start;
align-content: center;
}

.connect-with > div:first-child > div{
    height: 60px;
    background-color: white;
    line-height: 60px;
}

.connect-with-text {
    display: flex;
    justify-content: center;

}

.connect-with-text > div{
    width: 600px;
    right: 70%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.copy{
    margin-top: 20px;
    width: 700px;
    color: white;
    text-align: center;
    margin: auto;
}

.policyGroup{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}