.flex-container{
    height: 75vh;
    /* vh : Viewport Height (현재 화면 높이) 
       Viewport : 브라우저 또는 기기 화면 
    */

    background-color: #eee;

    display: flex;

    flex-wrap: wrap;

    /* ************* */
    /* align-content */
    /* ************* */

    /* cross axis 방향으로
       item이 포장된(wrap)라인을 정렬하는 방법 
        
       조건 : flex-wrap 속성이 wrap 또는 wrap-reverse 일때만 가능
       
       속성 값은 justify-content의 속성 값을 전부 사용할 수 있다. 
    */

    /* cross axis 방향 시작 지점으로 포장된 item들을 정렬 */
    /* align-content: flex-start; */

    /* cross axis 방향 끝 지점으로 포장된 item들을 정렬 */
    /* align-content: flex-end; */

    /* cross axis 방향 가운데로 포장된 item들을 정렬 */
    /* align-content: center; */


    align-items: center;
    
    /* cross axis 방향으로 
       포장된 아이템item들 양쪽으로
       일정한 공간을 나눠주어 정렬 */
    align-content: space-around;

    /* cross axis 방향으로 
       포장된 아이템item들이 
       동일한 크기의 공간을 나누어 정렬 */
    /* align-content: space-evenly; */

    /* cross axis 방향으로 
       포장된 아이템item들이 
       동일한 크기의 공간을 나누어 정렬 
       단, 처음과 끝은 flex-container에 붙어있게 함*/
    /* align-content: space-between; */


    






        /* item들을 cross axis(반대축, 교차축) 방향으로 
       정렬하는 방법을 지정하는 속성
       item들의 너비 또는 높이를
       cross axis 방향으로 늘려서
       flex-container와 같은 크기를 가지도록 함 (기본값)
       조건 : item에 cross axis 방향의
             크기 지정 속성이 없어야 함
    */
    /* (기본값) */
    /* align-items: stretch; */

    /* cross axis 시작 지점을 기준 */
    /* (stretch 처럼 늘어나지 않고 content 크기를 유지) */
    /* align-items: flex-start; */

    /* cross axis 끝 지점을 기준 */
    /* align-items: flex-end; */

    /* cross axis 가운데 기준 */
    /* align-items: center; */

    /* item 내부 content가 모두 한 줄에 배치될 수 있도록
       item 요th를 cross axis로 움직이는 설정 */
    /* align-items: baseline; */
}
