.eflags {
    width: 10em;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 3;
  }
  .eflags__selected {
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
  .eflags__selected h4 {
    color: #fff;
  }
  .eflags__currentFlag {
    border-radius: 50%;
    width: 3.5rem;
  }
  .eflags__globe {
    margin-left: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }
  .eflags__nav {
    width: 20rem;
    position: absolute;
    top: 5rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 110%;
    transition: all 0.1s;
  }
  .eflags__nav--animateLeft {
    margin-left: 40%;
  }
  
  .eflags__nav a {
    position: relative;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .eflags__nav a:hover {
    background-color: rgba(0,0,0, 1);
    padding: 1rem;
    margin-left: 0;
  }
  
  .noFlag {
    display: none !important;
  }
  