nav {
    position:relative;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: din-condensed, sans-serif;
    font-size: 1.15em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav .wrapper {
    position: relative;
    width: 100%;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.title-logo {
    height: 60px;
    grid-column: 1;
    padding: 7px;
}

.menu {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

.menu ul li {
    display: inline-block;
}

.page-nav-links {
    grid-column: 1/8;
}

.page-nav-links li {
    padding: 0 1em;
}

.cta-nav-links {
    grid-column: 9/11;
    text-align: right;
}

.title-logo img.logo {
    height: 100%;
}

nav li {
    margin-bottom: 0;
}

.purchaseNavBtn {
    background-color: #ffcd0d;
	color: #000;
	cursor: pointer;
	padding: 0.5em 2em;	
	text-transform: uppercase;
}

.navStick{
	background-color: rgb(0, 0, 0);
	height: 60px;
  	position: fixed;
	top: -80px;	
    width: 100%;
    z-index: 2;
}

button.hamburger {
    display: none;
}

.purchaseNav {
    font-size: 1.1em;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
	button.hamburger {
		display: inline-block;
        z-index: 30;
        position: relative;
	}

    .showMenu {
        display: block;
        transform: translate(0, 0);
    }

    .collapseMenu {
        display: block;
        transform: translate(0, -100%);
       
    }
    
    .title-logo {
        display: none;
    }

    .menu,
    .menu ul li {
        display: block;
    }

    .menu {
        background-color: rgba(23,26,24,.85);
        /* display: none; */
        height: 100vh!important;
        position: absolute;
        text-align: center;
        transition: transform .3s ease;
        width: 100%;
        z-index: 10;
        top: 0;
    }

    .page-nav-links {    
        color: #FFF;
        margin: 60px auto 25px;
        position: relative;
        width: 100%;
    }

    .page-nav-links li {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .75);
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding: 1em;
    }
    
    .cta-nav-links {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .cta-nav-links li {
        margin: 0.5em;
    }

    .hamMenuTitle {
        color: #FFF;	
        display: block;
        font-size: 26px;
        font-style: italic;
        position: absolute;
        right: 65px;
        text-transform: uppercase;
        top: 50%;
        transform: translate(0, -50%);	
        z-index: 20;	
    }
}
