#purchase {
  padding-top: 10rem;
  overflow: hidden;
  font-family: semplicitapro, sans-serif;
	font-weight: 700;
	font-style: normal;
	/* font-size: clamp(8px, 2vw, 40px); */
  color: #fff;
  background: #0FB0F4;
  position: relative;
}

#purchase::after {
  content: "";
  background: url(../media/img/purchase/purchase-bg.png) top center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  mix-blend-mode: screen;
}

#purchase .wrapper {
  padding: 0 2em;
}

#purchase h2 {
  padding: 1em 0;
}

.purchaseHeader {
  position: relative;
  width: fit-content;
  margin-right: 10%;
  margin-left: auto;
  z-index: 1;
}

.purchaseHeader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  display: block;
  z-index: -1;
  background: url(../img/purchase/purchase_header_bg.png) center / 100% 100%
    no-repeat;
}

.purchaseSelectContainer button,
.retailSelectInput select {
  font-size: 2rem;
  font-weight: 700;
  background-color: #0D0E52;
  color: #0CE1FB;
  padding: 1rem;
  text-transform: uppercase;
  position: relative;
  margin-right: 1rem;
  border-radius: 10px;
}

.purchaseSelectContainer button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 3px solid #000000; */
}

.purchaseSelectContainer button.active,
.purchaseSelectContainer button:hover,
.gtm__purchase:hover button,
.retailSelectInput select {
  background-color: #fff;
  color: #000;
}

.purchaseSelectContainer button.active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  width:100%;
  height: 100%;
  background-color: #DF0918;
  border-radius: 10px;
  z-index: -1;
}

/* .purchaseSelectContainer button.active::before,
.purchaseSelectContainer button::before:hover,
.gtm__purchase:hover button {
  border: 3px solid #870000;
} */

.gtm__purchase button {
  pointer-events: none;
}

.retailSelectInput select {
  text-align: center;
}

.versionSelect {
  margin: 5em 0;
}

.versionSelectButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.platformSelectButtons,
.retailSelectInput,
.digitalSelectButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.purchaseSelectContainer button {
  width: 100%;
}

.glamShot {
  margin: 1rem;
  padding-bottom: 10rem;
}
.glamShot img {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1025px) {
  

  .glamShot {
    margin: 5rem;
  }
}
.purchaseGrid {
  text-align: center;
  position: relative;
  width: 100%;
  margin: auto;
  font-size: clamp(1rem, 0.2857rem + 1.7857vw, 1.5rem);
  padding: 2em 0;
}

.purchaseBg {
  display: inline;
}
.purchaseBgMobile {
  display: none;
}

.mobileGridArrows {
  display: none;
}

.gridItemLabels {
  /* position: absolute; */
  top: -10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-items: center;
  align-items: stretch;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.gridItemLabels .gridLabelContainer {
  padding: 0.5em;
  position: relative;
  border: 2px solid #05FDFD;
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  background-color: #0D0E56;
  text-transform: uppercase;
}

.gridLabelContainer.special {
  color: #DF0918;
  background-color: #fff;
  border-color: #DF0918;
}
/* .gridItemLabels .deluxe,
.gridItemLabels .standard,
.gridItemLabels .launch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0;
  text-shadow: 2px 2px 0 #000;
  width: 90%;
} */

.purchaseGrid .gridOptions {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  border: 2px solid #05FDFD;
  border-radius: 1em;
  background-color: #0D0E56;
}

.gridItemLabels,
.purchaseGrid .gridOptions {
  width: 100%;
  margin: auto;
}

.purchaseGrid .gridCol {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  align-items: center;
  border-left: 1px solid #fff;
  align-content: center;
}

.purchaseGrid .gridCol:first-child {
  border: none;
}

.purchaseGrid .gridItem {
  margin: 1.25rem 0;
  height: 100%;
  display: grid;
  align-items: center;
  border-top: 1px solid #fff;
}

.purchaseGrid .gridItem:first-child {
  border: none;
}

.gridItem.empty {
  visibility: hidden;
}

.digitalSelectButtons a {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .platformSelectButtons,
  .retailSelectInput,
  .digitalSelectButtons,
  .versionSelectButtons {
    grid-template-columns: auto;
  }

  /* .glamShot {
    margin: 5rem 0;
  }

  .purchaseGrid {
    font-size: clamp(1rem, 0.2857rem + 1.7857vw, 2rem);;
  }
  .mobileGridArrows {
    display: inline;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobileGridArrows img {
    width: 10%;
    position: absolute;
    top: 0;
  }

  .mobileGridArrows .left {
    left: 0;
  }

  .mobileGridArrows .right {
    right: 0;
  } */

  /* .gridItemLabels {
    grid-template-columns: 1fr;
    width: 50%;
    top: 0;
  }
  .purchaseGrid .gridOptions {
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    top: 60%;
  } */
  /* .purchaseBg {
    display: none;
  }
  .purchaseBgMobile {
    display: inline;
  }
  .purchaseGrid .gridHidden {
    display: none;
  }
  .purchaseGrid .gridItem {
    padding: 0;
  } */
}
