.area1{background-color: lightcoral;}
.area2{background-color: lightsalmon;}
.area3{background-color: lightgoldenrodyellow;}
.area4{background-color: lightgreen;}
.area5{background-color: lightblue;}


.block{
    border: 1px solid black;

    display: block; /* 요소 형식을 block으로 변경 */
    width: 150px;
    height: 150px;
}

.inline{
    display: inline; /* 요소의 형식을 inline으로 변경 */
}

.inline-block{
    display: inline-block; /* 요소의 형식을 inline - block으로 변경 */
}

/* 감싸는 영역 요소 */

#container-1{
    border: 3px solid black;
    width: 323px;
    height: 517px;
}

/* 내부의 영역을 분할할 요소 */
.div-1{
    /* 고정 크기 단위(px)
    -> 감싸는 영역의 크기가 변하면 다시 계산 해야함 */
    /* width: 300px;
    height: 250px; */

    /* 가변 크기 단위(%)
    -> 화면이나 감싸는 영역의 크기에 비례해서 크기가 자동 계산*/

    width: 100%;
    height: 50%;
}

/* 위쪽 분할 요소 */
#container-1 > .div-1:first-child{
    background-color: lightblue;
}



/* 아래쪽 분할 요소 */
#container-1 > .div-1:last-child{
    background-color: lightsalmon;
}



#container-2{
    border: 3px solid black;
    width: 323px;
    height: 517px;
}

/* block 형식의 요소는 별도의 width가 지정되지 않으면 항상 100%다! */
#container-2 > .div-2:nth-child(1){
    background-color: lightblue;
    width: 100%;
    height: 20%;
}

#container-2 > .div-2:nth-child(2){
    background-color: cornflowerblue;
    width: 100%;
    height: 30%;
}

#container-2 > .div-2:nth-child(3){
    background-color: royalblue;
    width: 100%;
    height: 50%;
}

/* 좌우 2분할 */
#container-3{
    border: 5px solid black;
    width: 400px;
    height: 200px;
}

.div-3{
    width: 50%;
    height: 100%;
    display: inline-block;
}

#container-3 > .div-3:first-child{
    background-color: steelblue;
}

#container-3 > .div-3:last-child{
    background-color: cornflowerblue;
}


/* display : none; visibility : hidden; */
.div-4{
    border: 3px solid black;
    height: 100px;
}

#test4{
    background-color: antiquewhite;
    /* visibility: hidden; */
    /* 요소가 투명한 색으로 변경됨 */

    display: none;
    /* 요소는 존재 하지만 화면에 보이지 않음
       (영역 차지도 하지 않음) */
} 

