/* CSS 파일
   파일 전체가 <style> 태그 내부라고 생각하면 됨 */


/* 기본 속성 선택자 */
div[name="name-1"]{background-color: aqua;}

[name="name-2"]{background-color: antiquewhite;}

p[name="name-1"]{background-color: cadetblue;}

/* 자식 선택자 */
#parent-ul > li {background-color: cornflowerblue;}
#parent-ul > li > span {background-color: cornsilk;}

/* 후손 선택자 */
#test-div{border: 2px solid black;}
#test-div p{background-color: pink;}

/* 반응 선택자 */
.div-cls{
    /* block 형식 요소만 크기 조정 가능 */
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #ddd; /* 16진수 표기법 */

    /* 아래쪽 요소와의 간격 */
    margin-bottom: 30px;

    /* 요소에 마우스 커서가 올라오면 손가락 모양으로 변경 */
    cursor: pointer;
}

/* 클릭하고 있을 때만 반응하는 : active */
#active-test:active{
    background-color: coral;
}   

/* 마우스 포인터가 올라갓을 때만 반응하는 :hover */
#hover-test:hover{
    background-color: thistle;
    width: 230px;
    height: 230px;

    /* 변화 시간 지정 */
    /* transition-duration: 0.5s; */
}

/* #hover-test 요소가 변화를 일으키면 0.5초 동안 변함 */
#hover-test{transition-duration: 0.5s;}




/* 상태 선택자 */
    /* 요소에 초점이 맞춰졌을 때 (:focus) */
#focus-test:focus{background-color: aqua;}

/* 요소가 체크되었을 때(:checked) */
input[name="fruits"]:checked{background-color: palegreen;
    /* radio, checkbox는 크기를 제외한 스타일 적용 X */

    width: 30px;
    height: 30px;
}

/* 사용 가능/불가능(:enabled / :disabled) */
#test-div2 > input:enabled{
    background-color: pink;
}
#test-div2 > input:disabled{
    background-color: gray;
}


/* 동위 선택자 */

/* A 바로 뒤에 있는 B 요소 선택 (+) */
#div1 + div{
    background-color: blue;
}

/* A 바로 뒤에 있는 모든 B 요소 선택(~) */
#div3 ~ div{background-color: cadetblue;}



/* checkbox 모양 바꾸기 */
#check1 + label{
    border: 1px solid black;
    width: 30px;
    height: 30px;

    /* 수평 분할 + 크기 조절 */
    display: inline-block;
    cursor: pointer;

    /* 모서리 라운딩 처리 */
    border-radius: 15%;
}

#check1:checked + label{
    background-image: url("../../images/checkedimg.png");
    background-repeat: no-repeat;
    background-size: cover;

}


/* check1이 존재하지만 화면에 보이지 않게 하기 */
#check1{display: none;}
