/* :only-child */
/* 자식이 한명 이면서 p 태그 일 때 */
#test1 > p:only-child{
    background-color: antiquewhite;
}

/* :only-of-type */
#test1 > p:only-of-type{
    background-color: antiquewhite;
}

/* :empty */
#test3 > p:empty{
    height: 30px;
    background-color: aquamarine;
}


/* 특정 요소 내부에 있는 특정 클래스만 선택 */
/* 아이디가 test4-1의 후손 중 클래스가 c4인 요소 선택 */
#test4-1 .c4 {
    background-color: red;
}

#test4-2 > li.c4{
    background-color: aqua;
}

/* 여러 선택자 동시 선택 */
#test5-1, #test5-2, #test5-3 {
    background-color: cornflowerblue;
}

/* 클래스가 여러 개인 요소만 선택 */
/* 클래스가 test6, c6 둘 다 가진 요소에 
   테투리 1px solid black 으로 변경 */
.test6.c6 {
    border: 1px solid black;
}