/* CSS 파일
   파일 전체가 <style> 태그 내부라고 생각하면 됨 */


/* 기본 속성 선택자 */
div[name="name-1"]{background-color: aqua;}

[name="name-2"]{background-color: antiquewhite;}

p[name="name-1"]{background-color: cadetblue;}

/* 자식 선택자 */
#parent-ul > li {background-color: cornflowerblue;}
#parent-ul > li > span {background-color: cornsilk;}

/* 후손 선택자 */
#test-div{border: 2px solid black;}
#test-div p{background-color: pink;}

/* 반응 선택자 */
.div-cls{
    /* block 형식 요소만 크기 조정 가능 */
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #ddd; /* 16진수 표기법 */

    /* 아래쪽 요소와의 간격 */
    margin-bottom: 30px;

    /* 요소에 마우스 커서가 올라오면 손가락 모양으로 변경 */
    cursor: pointer;
}

/* 클릭하고 있을 때만 반응하는 : active */
#active-test:active{
    background-color: coral;
}   

/* 마우스 포인터가 올라갓을 때만 반응하는 :hover */
#hover-test:hover{
    background-color: thistle;
    width: 230px;
    height: 230px;

    /* 변화 시간 지정 */
    /* transition-duration: 0.5s; */
}

/* #hover-test 요소가 변화를 일으키면 0.5초 동안 변함 */
#hover-test{transition-duration: 0.5s;}
