/* 5순위 : 태그 선택자 */
div{
    width: 200px;
    height: 200px;
    background-color: steelblue;
}

/* 4순위 : 클래스 선택자 */
.cls1{
    background-color: violet;
    /* 배경색이 violet으로 변경되지만,
    겹치지 않는 width/height는 그대로 반영됨 */
}

.cls1{
    background-color: skyblue !important;
    /* 동일한 우선 순위에선 마지막에 작성된 값이 적용됨 */
}

/* 3순위 : 아이디 선택자 */
#test1{
    height: 100px;
    background-color: black;
    color: white;
}

/* 2순위 : inline-style */

/* 1순위 : css속성 : 속성값 !important; 
   -> 16라인 확인*/

